html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
}

.heroContainer {
    cursor: none;
    height: 100vh;
    width: 100%;
    position: absolute;
}

.videoContainerIntro {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
}

.titleContainer {
    position: absolute;
    right: 10%;
    top: 40%;
    display: block;
    flex-direction: column;
}

.smokeFilter {
    width: 100%;
    height: 100%;
    position: absolute;
    mix-blend-mode: screen;
    background-image: url("../images/smoke.gif");
    background-size: contain;
    opacity: 30%;
}

.tracking-in-expand-fwd {
    animation: tracking-in-expand-fwd 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 7.5s both;
    z-index: 2;
    display: inline-block;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.3vw;
    font-size: 2vw;
    transform: scale(1, 0.9);
}

@keyframes tracking-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        transform: translateZ(-700px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}

.heroLogo {
    width: 1.5vw;
    height: 1.5vw;
    z-index: 10;
    margin-left: 1vw;
    display: inline-block;
    filter: invert(93%) sepia(81%) saturate(0%) hue-rotate(187deg) brightness(109%) contrast(101%);
}

.heroLogo {
    -webkit-animation: flip-in-ver-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 6.5s both;
    animation: flip-in-ver-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 6.5s both;
}

@-webkit-keyframes flip-in-ver-right {
    0% {
        -webkit-transform: rotateY(-80deg);
        transform: rotateY(-80deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        opacity: 1;
    }
}

@keyframes flip-in-ver-right {
    0% {
        -webkit-transform: rotateY(-80deg);
        transform: rotateY(-80deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        opacity: 1;
    }
}

.subTitle {
    z-index: 2;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.3vw;
    font-size: 1.0vw;
    transform: scale(1, 0.9);
    margin: 0;
}

.subTitle {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 8.7s both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 8.7s both;
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.note-position-1 {
    display: inline-block;
    color: white;
    width: 0.5vw;
    height: 0.5vw;
}

.note-position-2 {
    display: inline-block;
    margin-left: 1vw;
    margin-top: 1vw;
    color: white;
    width: 1.5vw;
    height: 1.5vw;
}

.note-position-4 {
    top: 320px;
    left: 500px;
    color: white;
}

.note-amination {
    position: absolute;
    font-size: 3vw;
    animation-delay: 2s;
    animation-name: notes;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 0;
}

@keyframes notes {
    0% {
        font-size: 1vw;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        font-size: 2vw;
        margin-top: -150px;
        opacity: 0;
    }
}

.wrap {
    height: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    z-index: 20;
}
